<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.primsalarmmanger">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity"></activity>
        <activity android:name=".view.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".controller.TimeAlarmDhuhur" android:enabled="true" android:exported="true"/>
        <receiver android:name=".controller.TimeAlarmDhuhurNormal" android:enabled="true" android:exported="true"/>
        <receiver android:name=".controller.TimeAlarmAshar" android:enabled="true" android:exported="true"/>
        <receiver android:name=".controller.TimeAlarmAsharNormal" android:enabled="true" android:exported="true"/>
        <receiver android:name=".controller.TimeAlarmMaghrib" android:exported="true" android:enabled="true"/>
        <receiver android:name=".controller.TimeAlarmMaghribNormal" android:enabled="true" android:exported="true"/>
        <receiver android:name=".controller.TimeAlarmIsya" android:enabled="true" android:exported="true"/>
        <receiver android:name=".controller.TimeAlarmIsyaNormal" android:enabled="true" android:exported="true"/>
        <receiver android:name=".controller.TimeAlarmSubuh" android:enabled="true" android:exported="true"/>
        <receiver android:name=".controller.TimeAlarmSubuhNormal" android:enabled="true" android:exported="true"/>
    </application>

</manifest>